@page "/"
<PageTitle>Index</PageTitle>



<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="GeneratePdf">Generate PDF</button>

@code {
    private void GeneratePdf()
    {
        QuestPDF.ExampleInvoice.GenerateInvoice.GenerateInvoicePdf();
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
